---
import RsvpButton from "./RsvpButton.astro";
---

<header>
  <nav>
    <a class="logo" href="#hero">Oumaima & Simon</a>

    <div class="links">
      <a href="#plats">plats</a>
      <a href="#toastmasters">toastmasters</a>
      <a href="#dresscode">klädkod</a>
      <RsvpButton />
    </div>
  </nav>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      .links {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }
  }
</style>
