---
import SectionTitle from "../components/SectionTitle.astro";
import Section from "../components/Section.astro";
import SectionContent from "../components/SectionContent.astro";
---

<Section id="info">
  <SectionTitle
    title="Vanliga frågor"
    description="Bröllopsfesten startar kl. 13:00 lördagen den 11 juli 2026. Här är svaren på de vanligaste frågorna inför bröllopsfesten."
  />
  <SectionContent>
    <ul class="guidelines">
      <li>
        <h3>Klädsel</h3>
        <p>Uppklätt, välj något som känns både elegant och bekvämt.</p>
      </li>
      <hr />
      <li>
        <h3>Anmälan av tal</h3>
        <p>
          För att vi ska kunna planera bröllopsfesten, ber vi er att anmäla
          eventuella tal till våra toastmasters i förväg, via e-post till
          <a href="mailto:toastmaster.oumaimasimon@gmail.com"
            >toastmaster.oumaimasimon@gmail.com</a
          >.
        </p>
      </li>
      <hr />
      <li>
        <h3>Gåvor</h3>
        <p>
          Om ni önskar att ge en bröllopsgåva, så skulle vi vara mycket
          tacksamma för bidrag till vår bröllopsresa.
          Swish&nbsp;076&nbsp;039&nbsp;83&nbsp;54
        </p>
      </li>
      <hr />
      <li>
        <h3>OSA</h3>
        <p>
          Svara senast 28&nbsp;februari&nbsp;2026, via knappen ovan ´´Anmälan´´
        </p>
      </li>
    </ul>
  </SectionContent>
</Section>

<style>
  .guidelines {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 16rem;

    hr {
      width: 60%;
    }

    h3 {
      font-family: var(--font-display);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    p {
      font-family: var(--font-body);
      font-size: 1rem;
    }
  }
</style>
