---
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<Section id="plats">
  <SectionTitle title="Plats">
    Ladan p책 Bergums K채lleg책rdsv채g 8, 424 91 Olofstorp
  </SectionTitle>
  <div class="mapWrapper">
    <iframe
      class="map"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d703.3090649217752!2d12.169655870397099!3d57.81401028174848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464558f26dbed593%3A0xc7a3315edfd53b05!2sBergums%20K%C3%A4lleg%C3%A5rdsv%C3%A4g%208%2C%20424%2091%20Olofstorp!5e1!3m2!1ssv!2sse!4v1762605692616!5m2!1ssv!2sse"
    >
    </iframe>
  </div>
</Section>

<style>
  .mapWrapper {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.08);
    position: relative;
  }

  .mapWrapper::after {
    content: "";
    display: block;
    padding-bottom: 65%;
  }

  .map {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
</style>
