---
import polaroid_1 from "../assets/images/polaroids/polaroid_1.webp";
import polaroid_2 from "../assets/images/polaroids/polaroid_2.webp";
import polaroid_3 from "../assets/images/polaroids/polaroid_3.webp";
import polaroid_4 from "../assets/images/polaroids/polaroid_4.webp";
import polaroid_5 from "../assets/images/polaroids/polaroid_5.webp";
import polaroid_6 from "../assets/images/polaroids/polaroid_6.webp";
import polaroid_7 from "../assets/images/polaroids/polaroid_7.webp";
import polaroid_8 from "../assets/images/polaroids/polaroid_8.webp";
import polaroid_9 from "../assets/images/polaroids/polaroid_9.webp";

import Gallery from "../components/Gallery";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";

const imageArray = [
  { src: polaroid_1.src, caption: "" },
  { src: polaroid_2.src, caption: "" },
  { src: polaroid_3.src, caption: "" },
  { src: polaroid_4.src, caption: "" },
  { src: polaroid_5.src, caption: "" },
  { src: polaroid_6.src, caption: "" },
  { src: polaroid_7.src, caption: "" },
  { src: polaroid_8.src, caption: "" },
  { src: polaroid_9.src, caption: "" },
];
---

<Section id="welcome" noPadding>
  <SectionTitle title="Välkommen att fira vårt äktenskap" />
  <Gallery client:load items={imageArray} />
</Section>
