---
import gallery_1 from "../assets/images/gallery/gallery_1_cropped_5x7.png";
import gallery_2 from "../assets/images/gallery/gallery_2_cropped_5x7.png";
import gallery_3 from "../assets/images/gallery/gallery_3_cropped_5x7.png";
import gallery_4 from "../assets/images/gallery/gallery_4_cropped_5x7.png";
import gallery_5 from "../assets/images/gallery/gallery_5_cropped_5x7.png";
import gallery_6 from "../assets/images/gallery/gallery_6_cropped_5x7.png";
import gallery_7 from "../assets/images/gallery/gallery_7_cropped_1x1.png";
import gallery_8 from "../assets/images/gallery/gallery_8_cropped_1x1.png";
import gallery_9 from "../assets/images/gallery/gallery_9_cropped_5x7.png";

import Gallery from "../components/Gallery";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";

const imageArray = [
  { src: gallery_1.src, caption: "Gullig text <3" },
  { src: gallery_2.src, caption: "Gullig text <3" },
  { src: gallery_3.src, caption: "Gullig text <3" },
  { src: gallery_4.src, caption: "Gullig text <3" },
  { src: gallery_5.src, caption: "Gullig text <3" },
  { src: gallery_6.src, caption: "Gullig text <3" },
  { src: gallery_7.src, caption: "Gullig text <3" },
  { src: gallery_8.src, caption: "Gullig text <3" },
  { src: gallery_9.src, caption: "Gullig text <3" },
];
---

<Section id="welcome">
  <SectionTitle title="Välkommen att fira vårt äktenskap" />
  <Gallery client:load items={imageArray} />
</Section>
